%body
.side
  .side_header
    .side_header__in
      .side_header__in__user_name 
        = current_user.name

      .side_header__in__item 
        .pen
          = link_to root_path do
            %i.fas.fa-edit
        .gear
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .groups
    .group
      .group__name test_group
      .group__message test_message_2
    .group
      .group__name test_group_2
      .group__message nothing_message

      