* {
  box-sizing: border-box;
}


.wrapper {
  .main {
    float: left;
    height: 100vh;
    width: calc(100% - 300px);
    .main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $left-text-color;
      height: 100px;
      border-bottom: solid 1px #eee;
      &__left {
        margin-left: 40px;
        margin-top: 35px;
        &__group_name {
        margin-bottom: 20px;
        }
        &__list {
          display: flex;
          &__item {
            font-size: 12px;
            color: #999999;
          }
          &__names {
            font-size: 12px;
            color: #999999;
            margin-left: 5px;
          }
        }
      }
      &__right {
        height: 40px;
        width: 72px;
        margin-right: 40px;
        border-style: solid;
        border-width: 1px;
        border-color: $btn-color;
        @include display-center();
        a {
          text-decoration: none;
          
        }
        .edit {
          color: $btn-color;
          font-size: 16px;
          margin: auto 20px;
        }
      }
    }
    .messages {
      padding: 46px 40px;
      height: calc(100% - 190px);
      background-color: #fafafa;
      .message {
        padding-bottom: 40px;
        &__info {
          display: flex;
          margin-bottom: 12px;
          &__user {
            font-size: 16px;
            color: #333333;
            font-weight: bold;
          }
          &__time {
            margin-left: 10px;
            font-size: 12px;
            color: #999999;
          }
        }
        &__content {
          font-size: 14px;
          color: #434A54;
        }
      }
    }
    .form {
      height: 90px;
      padding: 20px 40px;
      background-color: #d2d2d2;
      .new_message {
        display: flex;
        .input-box {
          position: relative;
          width: 100%;
          background-color: $left-text-color;
          &__text {
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
          }
          &__image {
            position: absolute;
            top: 12px;
            right: 10px;
            margin-left: 10px;
            font-size: 25px;
            cursor: pointer;
            &__file {
              display: none;
            }
          }
        }
        .submit-btn {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: $btn-color;
          color: $left-text-color;
          cursor: pointer;
          @include display-center
        }
      }
    }
  }


  .side {
    float: left;
    // height: 100vh;
    width: 300px;
    background-color: #2f3e51;
    .side_header {
      @include display-center();
      height: 100px;
      background-color: #253141;
      &__in {
        height: 20px;
        width: calc(100% - 40px);
        display: flex;
        justify-content: space-between;
        &__user_name {
          color: $left-text-color;
          font-size: 16px;
          font-weight: bold;
        }
        &__item {
          height: 100%;
          width: 60px;
          display: flex;
          justify-content: flex-end;
          .pen {
            margin: 0 5px 0 0;
          }
          a {
            color: $left-text-color;
          }
        }
      }
    }
    .groups {
      height: calc(100vh - 100px);
      padding: 20px 20px 0;
      background-color: #2f3e51;
      .group {
        margin-bottom: 40px;
        &__name {
          height: 15px;
          margin-bottom: 5px;
          font-size: 15px;
          color: $left-text-color;
        }
        &__message {
          font-size: 11px;
          color: $left-text-color;
        }
      }
    }
  }
}
